.intro-section {
  margin-top: 12rem;
  text-align: center;
}

.container {
  height: 200px;
}

.container .my-post {
  display: inline-block;
  font-size: 20px;
  transform: scale(0.7, 1);
  font-weight: 600;
}

.button-section {
  width: 200px;
  margin: auto;
}

@media(max-width: 430px) {
  .title {
    font-size: 40px;
    line-height: 1;
    margin-bottom: 10px;
  }

  .intro-section {
    margin-top: 07rem;
  }
}

@media (max-width: 770px) and (min-width: 430px) {
  .title {
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 1;
  }
}



