<div class="d-block intro-section container-fluid">
  <div class="d-flex p-4 justify-content-center">
   <div class="container d-flex flex-column">
    <strong class="title">Hi, This is <span class="secondary-text-color">Deepak.</span></strong>
    <span class="my-post">
      I am
      <span class="secondary-text-color">JavaScript</span>
      /
      <span class="secondary-text-color">TypeScript</span>
      developer
    </span>
    <div class="button-section">
      <button class="btn btn-primary" (click)="navigateToProject()">See My Work</button>
    </div>
   </div>
  </div>
</div>
