.container {
  margin-top: 30px !important;
  padding-bottom: 30px
}

.accordian-container {
  max-width: 800px !important;
  margin: auto;
}

.accordian {
  border: none;
  text-decoration: none;
  outline: none;
}

:host ::ng-deep .p-accordion-header-text {
  width: 60px !important;
}

.project-link:hover {
  text-decoration: underline !important;
}
